<div class="d-flex">
    <div class="d-flex primary-sidebar">
        <div class="logo side-item">
            <span>
                <img src="/assets/images/logo.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/acceleration.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/bag.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item select">
            <span>
                <img src="/assets/images/checked.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/calender.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/chat.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/box.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/calculator.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/book.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/circle.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/pull.svg" alt="" srcset="">
            </span>
        </div>
        <div class="side-item">
            <span>
                <img src="/assets/images/question.svg" alt="" srcset="">
            </span>
        </div>
    </div>
    <div></div>
</div>
