.nav-menu{
    height: 85px;
    border-bottom: 1px solid #F0F0F3;
    justify-content: space-between;
    padding: 0px 28px;

    .title{
        margin-left: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #1C1D21;
    }
}