.upload-content{
    padding: 35px 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 24px;

    p{
        font-weight: 700;
        color: #1C1D21;
    }

    .title-text{
        p{
            margin-left: 59px;
            font-size: 16px;
            line-height: 21px;
        }
    }

    .loading{
        text-align: center;
        p{
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 20px !important;
        }

        .progress-bar-blue{
            margin: auto;
            background-color: #ECECF2;
            height: 30px;
            max-width: 1140px;
            border-radius: 30px;
            position: relative;
          
            .fill{
              background: linear-gradient(144deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
              border-radius: 30px;
              animation: move 0.5s linear infinite;
              background-size: 43px;
            }
          
            .a{
              background-color: var(--primary-hex-color);
              height: 100%;
              max-width: 100%;
              min-width: 1%;
              -webkit-transition: width 1s ease-in-out;
              -moz-transition: width 1s ease-in-out;
              -o-transition: width 1s ease-in-out;
              transition: width 1s ease-in-out;
            }
          }
          
          @keyframes move{
            100%{
              background-position: 40px 0px;
            }
          }
    }

    .illus{
        margin-top: 100px;
        margin-bottom: 60px;
        text-align: center;
        img{
            max-width: 870px;
        }
    }
}